@model IEnumerable<Assignment02.Models.Instructor>

@{
    ViewData["Title"] = "Instructor Page";
}

<h4>Instructor</h4>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model=> model.InstructorId)
        </th>
        <th>
            @Html.DisplayNameFor(model=> model.InstructorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model=> model.InstructorLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model=> model.InstructorEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model=> model.InstructorCourse)
        </th>
    </tr>
    <tbody>
    @foreach (var item in Model)
   {
       <tr>
           <th>
                @Html.DisplayFor(m=> item.InstructorId)
            </th>
            <th>
                @Html.DisplayFor(m=> item.InstructorFirstName)
            </th>
            <th>
                @Html.DisplayFor(m=> item.InstructorLastName)
            </th>
            <th>
            @Html.DisplayFor(m=> item.InstructorEmail)
            </th>
            <th>
                @Html.DisplayFor(m=> item.InstructorCourse)
            </th>
        </tr>
   }
    </tbody>
</table>