@model IEnumerable<Assignment02.Models.Course>
@{
    ViewData["Title"] = "Course Page";
}

<h4>Course</h4>
<table>
    <tr>
        <th>@Html.DisplayNameFor(model=> model.CourseId)</th>
        <th>@Html.DisplayNameFor(model=> model.CourseName)</th>
        <th>@Html.DisplayNameFor(model=> model.StudentRegistered)</th>
    </tr>
    <tbody>
    @foreach (var item in Model)
    {
       <tr>
           <th>@Html.DisplayFor(m=> item.CourseId)</th>
            <th><span style="cursor: pointer; color: blue; text-decoration: underline;" data-toggle="modal" data-target="#myModal" onclick="showStudentRegistered('@item.CourseName')">
                    @Html.DisplayFor(m=> item.CourseName)</span></th>
            <th>
                <ol>
                    @foreach(var student in item.StudentRegistered)
                    {
                        <li>
                            @Html.DisplayFor(m=> student.StudentFirstName) @Html.DisplayFor(m=>student.StudentLastName)
                        </li>
                    }
                </ol>
            </th>
        </tr>
    }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    function showStudentRegistered(CourseName) {
        $("#exampleModalLabel").html(CourseName);
        console.log("func called: ", CourseName);
        $("#modalBody").html( );
    }
</script>